@font-face
{
	font-family: Raleway;
	src: url(Raleway-ExtraBold.ttf);
	src: url(Raleway-Light.ttf);
}

body
{
	font-family: Raleway;
	width:  1440px;
	margin-top:   50px;
	margin-left: auto;
	margin-right: auto;
}

.centrage
{
	width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header
{
	width: 1440px;
	padding-left: 60px;
	height: 430px;
}

.ancre 
{
	display: flex;
	justify-content: flex-end;
}

.ancre1
{
	color: #0065FC;
	border-top: solid; color: #0065FC;
	padding-top: 40px;
	margin-right: 60px;
	margin-top: -40px;
}

.ancre2
{
	font-weight: bold;
	color: black;
	margin-right: 60px;
}

.ancre3
{
	color: #0065fc;
	margin-right: 0px;
	font-weight: bold;
	margin-right: 60px;
}

.reservia
{
	display: flex;
	justify-self: start;
	margin-top: -40px;
}

.logo
{
	height: 30px;
	width: 95px;
}

h4
{
	font-weight: 400;
}

.ligne_de_recherche
{
	display: flex;
}

button
{
	background-color: #0065FC;
	color: white;
	height: 50px;
	width: 140px;
	border: none;
	border-bottom-right-radius: 15px;
	border-top-right-radius:    15px;
}

button:focus
{
	outline: 0;
}

.icone_map
{
	color: black;
	background-color: #F2F2F2;
	border-bottom-left-radius: 15px;
	border-top-left-radius:    15px;
	padding-left:  20px;
	padding-right: 20px;
	padding-top:   17px;
}

.recherche
{
	height: 50px;
	width: 235px;
	border-left: none;
	border-right: none;
	border:solid #F2F2F2;
	border-width: thin;
	padding-left: 20px;
}

.filtres
{
	display: flex;	
	flex-wrap: wrap;
	margin-top: 35px;
}

input
{
	border: none;
}

input:focus
{
	outline: 0;
}

input::placeholder
{
	color: #000;
	font-weight: bold;
	font-size: 15px;
}

.intro_filtres
{
	font-weight: bold;
	color: #000;
	margin-top: 20px;
	margin-right: 20px;
}

.cartes_filtres
{
	display: flex;
	margin-right: 20px;
	margin-top: 30px;
	transform: scale(1);
	transition: transform 0.2s;
}

.cartes_filtres:hover
{
	transform: scale(1.15);
}

.icones_filtres
{
	color: #0065FC;
	background-color: #deebff;
	margin-top: -20px;
	border-radius: 50%;
	z-index: 2;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.Economique
{
	width: 190px;
	height: 50px;
	margin-left: -20px;
	background-color: white;
	border-left: none;
	border-bottom-right-radius: 30px;
	border-top-right-radius:    30px;
	border: solid #d9d9d9;
	font-weight: bold;
	font-family: Raleway;
	font-size: 18px;
}

.Familial
{
	width: 130px;
	height: 50px;
	margin-left: -20px;
	border-left: none;
	border-bottom-right-radius: 30px;
	border-top-right-radius:    30px;
	background-color: white;
	border: solid #d9d9d9; 
	font-weight: bold;
	font-family: Raleway;
	font-size: 18px;
}

.Romantique
{
	width: 180px;
	height: 50px;
	margin-left: -20px;
	border-left: none;
	border-bottom-right-radius: 30px;
	border-top-right-radius:    30px;
	background-color: white;
	font-weight: bold;
	font-family: Raleway;
	font-size: 18px;
	border:solid #d9d9d9;
}

.Animaux
{
	width: 240px;
	height: 50px;
	margin-left: -20px;
	border-left: none;
	border:solid #d9d9d9;
	border-bottom-right-radius: 30px;
	border-top-right-radius:    30px;
	background-color: white;
	font-weight: bold;
	font-family: Raleway;
	font-size: 18px;
}

.cases_filtres
{
	margin-top: -20px;
}

.info
{
	display: flex;
}

.fa-info
{
	color: #0065FC;
	display: flex;
	margin-top: 40px;
	border-radius: 50%;  border: ridge;
	padding-top:   5px;
	padding-bottom: 5px;
	padding-left:  10px;
	padding-right: 10px;
	margin-right: 10px;
}

.logement
{
	display: flex;
	margin-top: 45px;
}

img
{
	width: 240px;
	height: 110px;
}

.hebergement_populaire
{
	display: flex;
}

#hebergement
{
	padding-top: 10px;
	margin-left: 40px;
	font-weight: bold;
}

.marseille
{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 880px;
}

#cartes
{
	display: flex;
	flex-wrap: wrap;
}

.carte_hebergement
{
	height: 200px;
	background-color:white;
	padding-left:  5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-left: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.etoile_hebergement
{
	background-color:white;
	padding-top: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 10px;	
}

.hebergement_texte
{
	margin-left: 10px;
}

.photo_hebergement
{
	width: 230px;
	object-fit: cover;
	background-color: white;
	padding-top: 5px;
	border-top-left-radius: 20px;
	border-top-right-radius:20px;
}

.plus
{
	font-weight: bold;
	margin-right: 500px;
	padding-top: 20px;
	padding-left: 40px;
	margin-top: -10px;
}

.etoile_bleu
{
	color: #0065FC;
}

.etoile_gris
{
	color: #F2F2F2;
}

.fa-chart-line
{
	color: black;
	float: right;
	margin-top: -30px;
	margin-right: 40px;
}

.populaires
{
	display: flex;
	flex-direction: column;
	height: 625px;
	width: 415px;
	margin-left: 40px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 10px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

.photos_populaires
{
	display: flex;
	float: left;
	width: 130px;
	height: 130px;
	object-fit: cover;
	margin-left: 5px;
	margin-right: 5px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires_texte
{
	margin-left: 10px;
}
	
.cartes_populaires
{
	background-color: white;
	padding-bottom: 30px;
	padding-top:    5px;
	padding-left:   5px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 20px;
}

.etoilepop
{
	margin-left: 150px;
	margin-top: 20px;
}

.texte_tarifs
{
	font-weight: 400;
	margin-left: 10px;
}

.activites
{
	margin-top: 50px;
	padding-left: 40px;
	display: flex;	
	flex-wrap: wrap;
}

.vieuxport
{
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}

.fort
{
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}

.calanques
{
	margin-right: 50px;
	display: flex;
}

.notredame
{
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}

.pom
{
	margin-top: -35px;
	height: 180px;
	width: 300px;
	object-fit: cover;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.ile
{
	height: 100px;
	width: 300px;
	object-fit: cover;
	margin-top: 40px;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.notredame
{
	margin-top: 85px;
	height: 140px;
	object-fit: cover;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.portvieux
{
	height: 390px;
	width: 300px;
	object-fit: cover;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.fort
{
	margin-top: 100px;
}

.parccal
{
	height: 390px;
	width: 300px;
	object-fit: cover;
	margin-top: 70px;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.garde
{
	width: 300px;
	height: 140px;
	object-fit: cover;
	margin-top: -15px;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.champ
{
	width: 300px;
	height: 150px;
	object-fit: cover;
	margin-top: 30px;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
}

.texte_activites
{
	height: 55px;
	width: 280px;
	padding-top: 15px;
	padding-left: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 5px 5px #F2F2F2
}
	
footer
{
	display: flex;
	margin-top: 50px;
	padding-left: 30px;
	width: 100%;
	background-color: #F2F2F2;
}

footer p
{
	line-height: 30px;
}
	
.f
{
	font-weight: bold;
}

.footer1
{
	display: flex;
	padding-top: 50px;
	margin-right: 260px;
}

a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

hr
{
	border: none;
}


@media screen and (min-width:760px) 
{
	.fa-search{visibility: hidden;}
}

@media screen and (max-width:1395px)
{
	footer{margin-top: 300px;}
}

@media screen and (max-width:1336px)
{
	footer{display: flex; flex-direction: row;}
	.footer1{margin-right: 40px;}
}

@media screen and (max-width: 760px) 
{
	
	body{max-width: 370px;min-height: 4450px;margin-left: auto;margin-right: auto;}
	.centrage{width: 366px}
	header{max-height: 690px;max-width: 363px; padding-left: 0px;}
	
	h4 {margin-left: 10px;font-size: 18px;}
	h2{margin-top: 80px;margin-left: 10px; font-size: 24px;}
	.fa-chart-line{margin-top:  -40px;}
	
	
	.naviguation{padding-top: 30px;flex-wrap: wrap;width: 360px;margin-left: 0px;}
	
	.ancre{flex-wrap: wrap-reverse;margin-right: 0px;padding-top: 0px;}
	.ancre1{margin-top: 20px; border-top: none;border-bottom: solid;color: #0065fc;
			padding-bottom: 10px;width: 50%;margin-right: 0px;text-align: center;}
	.ancre2{margin-top: 20px;border-bottom: solid  #F2F2F2;width: 50%;margin-right: 0px;
			text-align: center;	padding-bottom: 10px;color: #000;padding-top: 40px;}
	.ancre3{margin-right: 10px;}
	.reservia{margin-top: -120px;}

	.ligne_de_recherche{margin-left:  20px;}
	#look{display: none;}
	.fa-search{background-color: #0065FC;padding: 17px;color: white;border-radius: 15px;margin-left: -20px;}

	.filtres{margin-right: 0px;margin-left: 10px;}
	.Economique{max-width: 145px;font-size: 15px;}
	.Familial{max-width: 110px;font-size: 15px;}
	.Romantique{max-width: 140px;font-size: 15px;}
	.Animaux{max-width: 190px;font-size: 15px;}
	.intro_filtres{height: 20px;margin-right: 130px;}

	.info{margin-top: -25px;font-size: 16px;margin-left: 20px;}

	.hebergement_populaire{display: flex; flex-direction: column-reverse;}
	
	.marseille{display: flex; flex-direction: column; width: 350px;
		height: auto;background-color: transparent;}
		
	#hebergement{margin-left: 20px;}
	.carte_hebergement{margin-left: 10px; padding: 0px;}	
	.photo_hebergement{min-width: 335px;min-height: 115px;}
	
	.populaires{display: flex;margin-top: 240px;margin-left: 0px;padding-left: 10px;
	            max-height: 580px;padding-right: 0px;
				padding-bottom: 100px;  border-radius: 0px;width: 369px;}
				
	.plus{padding-top: 0px;margin-right: 0px;padding-bottom: 40px;}

	.activites{flex-direction: column;margin-top: -30px;width: 340px;
	max-width: 350px;padding-left: 10px;}
	
	.activites img{min-width: 335px;max-height: 135px;}
	.texte_activites{width: 310px;}

	footer{ flex-direction: column;justify-content: space-between;margin-top:320px;
		 height: 480px;width: 320px;padding-right: 20px; padding-left: 20px;}
	.footer1{padding: 0px; margin-right: 0px;}
}
	
@media screen and (min-width: 762px) and (max-width: 900px)
{
	body{ margin-left:auto;margin-right: auto;}
	.hebergement_populaire{flex-direction: column-reverse;}
	.marseille{background-color: transparent;margin-left: auto;
		margin-right: auto;padding: 0px;}
	.populaires{margin-left: auto;margin-right: auto; margin-top: 100px;
		        padding-bottom: 300px;padding-left: 100px;padding-right: 100px;}
	.fa-chart-line{visibility: hidden;}
	.photos_populaires{float: none;width: 370px;border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;}
	.etoilepop{margin: 0px;padding-left: 10px;}
	.activites{flex-wrap: wrap;margin-left: 0px;}
	footer{display: flex; flex-direction: row;justify-content: space-between; width: auto;}
	.plus{padding-top: 0px;margin-right: 0px;padding-bottom: 20px;}
}
	

	
	